<nav class="flex flex-row justify-between p-5 m-2">
    <NavLink href="/">Home</NavLink>
    <div class="flex flex-row space-x-5">
        <NavLink href="/add-transaction">Add Transaction</NavLink>
        <NavLink href="/recurrentTransactions">Recurrent Payments</NavLink>
    </div>
</nav>

@code {

}