<nav class="w-1/4 border-r p-10">
    <div class="flex flex-col space-y-3">
        <NavLink href="/" class="rounded rounded-md p-3 border border-transparent hover:border-purple-500" ActiveClass="font-bold bg-purple-500 text-white border border-purple-500" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink href="/add-transaction" class="rounded rounded-md p-3 border border-transparent hover:border-purple-500" ActiveClass="font-bold bg-purple-500 text-white border border-purple-500">
            Add Transaction
        </NavLink>
        <NavLink href="/recurrent-transactions" class="rounded rounded-md p-3 border border-transparent hover:border-purple-500" ActiveClass="font-bold bg-purple-500 text-white border border-purple-500">
            Manage Recurrent Payments
        </NavLink>
    </div>
</nav>

@code {

}